.tarefa-unica {
  cursor: pointer;
  background-color: transparent;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tarefa-unica:hover {
  cursor: pointer;
  background-color: #445B7D;
}

.icone-com-texto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}